{{ $enabledPostNavigation := .Site.Params.postNavigation | default true }}
{{ if $enabledPostNavigation }}
<div class="navigation navigation-single">
    {{ with .PrevInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-prev">
      <span class="navigation-tittle">{{ .Title }}</span>
    </a>
    {{ end }}
    {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-next">
      <span class="navigation-tittle">{{ .Title }}</span>
    </a>
    {{ end }}
</div>
{{ end }}
