pre {
	tab-size: 2;
	font-family: $code-font-family;
	white-space: pre;
	background-color: $code-background-color !important; //override chroma theme
	border-radius: 6px;
	padding: 1em;
	overflow-x: auto;
	code {
		font-size: $code-fence-font-size;
		line-height: $root-line-height;
		padding: 0;
	}
}

a {
	code {
		color: $link-color;
	}
}

code {
	font-family: $code-font-family;
	font-size: $code-font-size;
	padding: 3px 5px;
	border-radius: 4px;
	background-color: $code-background-color;
}
