// mobile ~320..480px
// 320px ~ 16rem/16px ~ 18.8235/17px ~ 17.7778/18px
// 480px ~ 30rem/16px ~ 28.2353rem/17px ~ 26.6667rem/18px
@media (min-width: 320px) and (max-width: 767px) {
  html,
  body {
    font-size: $small-device-font-size;
  }
  .sidebar {
    transform: translateX(-$sidebar-width);
    -webkit-transform: translateX(-$sidebar-width);
    transition: transform .4s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: $sidebar-width;
    z-index: 95;
    li {
      padding: .3rem 0;
      font-size: 23px;
    }
  }
  .hidden-tablet {
    display: none;
  }
  .sidebar-menu {
    padding: 0px 0px;
  }
  .sidebar-menu ul {
    list-style-type: none;
    padding: 0;
  }
  .sidebar-menu li {
    display: block;
  }
  .sidebar-menu a {
    text-decoration: none;
    cursor: pointer; }

  //For hiding/showing the sidebar
  .sidebar-wrapper label {
    display: block;
    cursor: pointer;
    color: $sidebar-color;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    width: 3rem;
    height: 2rem;
    z-index: 99;
    overflow: hidden;
    //outline: dashed 1px black;
  }

  .sidebar-wrapper label svg {
    display: block;
    margin: auto;
    height: 2rem;
    width: 2rem;
  }

  input#menuToggle {
    display: none;
  }
  input#menuToggle + label {
    font-weight: bold;
  }

  input#menuToggle:checked + label {
    color: #fff;
  }

  input#menuToggle:checked ~ .sidebar {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: transform .4s ease;
  }

}

// tablet/medium device ~768px+
// 768px ~ 48em/16px ~ 45.1765em/17px ~ 42.6667/18px
@media (min-width: 768px) {
  html,
  body {
    font-size: $small-device-font-size;
  }
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: $sidebar-width;
  }
  .sidebar-sticky {
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .content {
    margin-left: $content-margin-left;
    margin-right: $content-margin-right;
    max-width: $content-max-width;
  }
  .layout-reverse {
    .sidebar {
      left: auto;
      right: 0;
    }
    .content {
      margin-left: $content-margin-right;
      margin-right: $content-margin-left;
    }
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    a {
      width: calc(50% - 10px);
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  input#menuToggle,
  input#menuToggle + label {
    display: none;
  }
}

// Large devices (laptops/desktops, 992px and up)
// ~ 62rem/16px ~ 58.3529rem/17px ~ 55.1111rem/18px
@media (min-width: 992px) {
  html,
  body {
    font-size: $large-device-font-size;
  }
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
  }
}

// Large device ~1024px
// 1024px ~  64rem/16px ~ 60.2353rem/17px 56.8889rem/18px
@media (min-width: 1024px) {
  // styles
}
